
.left-aligned-label {
  min-width: 100px; /* Define a fixed width if needed for alignment */
  text-align: right; /* Optional for better alignment */
}

.form-label {
  position: relative;
  text-align: left;
  margin-bottom: 0 !important;
}

.contact-button
{
  width: 33%;
  color: var(--font-color);
}
