.home-container {
  width: 100%;
}

.fade-in {
  opacity: 0.5;
  transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); /* Fade-in effect over 1 second */
}

.fade-in.visible {
  opacity: 1;
}
