.showcase-image-res {
  width: 100%;
}

.packages-wrapper
{
  min-height: var(--minimal-height-min);
}

.showcase-image-default-res {
  width: 768px;
  height: 1024px;
}

.showcase-padding-top {
  padding-top: 1rem;
}

.container-height-adjust {
  height: auto !important;
}

.content {
  padding: 50px;
  background: #f5f5f5;
  text-align: center;
}

.wavy-divider {
  height: 40px;
  background: #fffdec;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}


.equal-height-row
{
  
}
