#root {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

/* variables */
:root {
  --primary-color: #000000;
  --secondary-color: #d6d6d6;
  --background-dark-color: rgba(0, 0, 0, 1);
  --background-collapse-color: rgba(0, 0, 0, 1);
  --font-color: #F8FAFC;
  --bs-btn-color : #F8FAFC !important;
  --minimal-height-max: 200vh;
  --minimal-height-min: 100vh;
  --font-size: 16px;
}

.margin-from-header
{
  margin-top:60px;
}

.default-container-padding
{
  padding-top:0 !important;
  padding-left:60px !important;
  padding-right:60px !important;
  padding-bottom: 30px !important;
}

.justify-text
{
  text-align: "justify";
}

.background-neutral-color {
  background-color: rgba(211, 211, 211, 1);
}

.background-dark-color {
  background-color: rgba(0, 0, 0, 1);
  /* background-color: #1A1A19; */
}

.min-height {
  min-height: 20vh;
}

.stick-to-bottom {
  bottom: 0;
}

.inverted-color-text {
  color: var(--font-color) !important;
}

.big-text {
  font-size: 3rem;
}

.medium-text {
  font-size: 1.5rem;
}

.small-text {
  font-size: 1rem;
}

.accent-text-color {
  color: white;
}

.italic {
  font-style: italic !important;
}
.normal {
  font-style: normal !important;
}
.bold {
  font-style: bold;
}

.left-text-alignment {
  text-align: left;
}

.justify-text {
  text-align: justify;
}

.space-grotesk-big-bold {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-weight: 500;
  font-style: bold;
}
.space-grotesk-1 {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.space-grotesk-slim {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
